<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hao.jstquery">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Query1Activity" />
        <activity android:name=".activity.QueryInfoActivity" />
        <activity android:name=".activity.ZDActivity" />
        <activity android:name=".activity.ZDInfoActivity" />
        <activity android:name=".activity.KCActivity" />
        <activity android:name=".activity.KCInfoActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.VideoActivity" />
        <activity android:name=".activity.RKActivity" />
        <activity android:name=".activity.RKInfoActivity" />
        <activity android:name=".activity.THActivity" />
        <activity android:name=".activity.THInfoActivity" />
        <activity android:name=".activity.CKInfoActivity" />
        <activity android:name=".activity.TKActivity" />
        <activity android:name=".activity.TKInfoActivity" />
        <activity android:name=".activity.JFActivity" />
        <activity android:name=".activity.JFInfoActivity" />
        <activity android:name=".activity.ZSActivity" />
        <activity android:name=".activity.ZSInfoActivity" />
    </application>

</manifest>